---
// Redirect page for /syamili to Google Apps Script
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script>
      window.location.replace(
        "https://script.google.com/macros/s/AKfycbzmo-rwwQH8Zm7jnAJGFzatkh48ODE2lYP9O10kgOEoFead_e6MfBTaQPSAd0wMTFEo0Q/exec",
      );
    </script>

    <meta
      http-equiv="refresh"
      content="0; url=https://script.google.com/macros/s/AKfycbzmo-rwwQH8Zm7jnAJGFzatkh48ODE2lYP9O10kgOEoFead_e6MfBTaQPSAd0wMTFEo0Q/exec"
    />
  </head>
  <body></body>
</html>
