---
// Redirect page for /syamili to Google Apps Script
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script>
      window.location.replace(
        "https://script.google.com/macros/s/AKfycbwrpdpmRKVxG1F6WJyo_E-LnCVx6zvFG7rtbo1YSJCZ_Gc3Jnaoe1HmZAWRFAiojjxIiQ/exec",
      );
    </script>

    <meta
      http-equiv="refresh"
      content="0; url=https://script.google.com/macros/s/AKfycbwrpdpmRKVxG1F6WJyo_E-LnCVx6zvFG7rtbo1YSJCZ_Gc3Jnaoe1HmZAWRFAiojjxIiQ/exec"
    />
  </head>
  <body></body>
</html>
