---
// Redirect page for /wellness to Google Apps Script
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script>
      window.location.replace(
        "https://script.google.com/macros/s/AKfycbwCfSRXLHkUxQpc6DNUuquiPovA2abAAWwOhw3B07QBdjiqjlIuZfJJsAk1x3SHTSrlow/exec",
      );
    </script>

    <meta
      http-equiv="refresh"
      content="0; url=https://script.google.com/macros/s/AKfycbwCfSRXLHkUxQpc6DNUuquiPovA2abAAWwOhw3B07QBdjiqjlIuZfJJsAk1x3SHTSrlow/exec"
    />
  </head>
  <body></body>
</html>
