---
// Redirect page for /inventory to Google Apps Script
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script>
      window.location.replace(
        "https://script.google.com/macros/s/AKfycbzmlpo6pkc35P9YBZumEOZsKMyDvLScSxatg3SE-UX29MRJs3MWMTYDhwVrmkaix83l/exec",
      );
    </script>

    <meta
      http-equiv="refresh"
      content="0; url=https://script.google.com/macros/s/AKfycbzmlpo6pkc35P9YBZumEOZsKMyDvLScSxatg3SE-UX29MRJs3MWMTYDhwVrmkaix83l/exec"
    />
  </head>
  <body></body>
</html>
