<div data-elementor-type="wp-post" data-elementor-id="236" class="elementor elementor-236" data-elementor-post-type="wpr_templates">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-57a04762 header-1 elementor-section-boxed elementor-section-height-default elementor-section-height-default wpr-particle-no wpr-jarallax-no wpr-parallax-no" data-id="57a04762" data-element_type="section" data-settings='{"background_background":"classic","background_motion_fx_motion_fx_scrolling":"yes","background_motion_fx_opacity_effect":"yes","background_motion_fx_opacity_range":{"unit":"%","size":"","sizes":{"start":23,"end":87}},"background_motion_fx_opacity_direction":"out-in","background_motion_fx_opacity_level":{"unit":"px","size":10,"sizes":[]},"background_motion_fx_devices":["desktop","tablet","mobile"]}'>
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2d6510d" data-id="2d6510d" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-e251e1c elementor-widget-mobile__width-initial elementor-widget__width-initial wpr-logo-position-center elementor-widget elementor-widget-wpr-logo" data-id="e251e1c" data-element_type="widget" data-widget_type="wpr-logo.default">
						<div class="elementor-widget-container">
							<div class="wpr-logo elementor-clearfix">
								<picture class="wpr-logo-image">
									<source media="(max-width: 767px)" srcset="/wp-content/uploads/2021/12/logo-new-sampadavr.png">
									<source srcset="/wp-content/uploads/2021/12/logo-new-sampadavr.png 1x, /wp-content/uploads/2021/12/logo-new-sampadavr.png 2x">
									<img src="/wp-content/uploads/2021/12/logo-new-sampadavr.png" alt="">
									<a class="wpr-logo-url" rel="home" href="/"></a>
								</picture>
								<a class="wpr-logo-url" rel="home" href="/"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-748234c1" data-id="748234c1" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-077a1f7 wpr-main-menu-align-right wpr-main-menu-align--tabletcenter wpr-mobile-toggle-v2 wpr-main-menu-align--mobilecenter elementor-widget-mobile__width-initial wpr-pointer-underline wpr-pointer-line-fx wpr-pointer-fx-fade wpr-sub-icon-caret-down wpr-sub-menu-fx-fade wpr-nav-menu-bp-mobile wpr-mobile-menu-full-width wpr-mobile-menu-item-align-center wpr-sub-divider-yes elementor-widget elementor-widget-wpr-nav-menu" data-id="077a1f7" data-element_type="widget" data-settings='{"menu_layout":"horizontal"}' data-widget_type="wpr-nav-menu.default">
						<div class="elementor-widget-container">
							<nav class="wpr-nav-menu-container wpr-nav-menu-horizontal" data-trigger="hover">
								<ul id="menu-1-077a1f7" class="wpr-nav-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-695"><a href="/" class="wpr-menu-item wpr-pointer-item">Home</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-696"><a href="/about/" class="wpr-menu-item wpr-pointer-item">About<i class="wpr-sub-icon fas" aria-hidden="true"></i></a>
										<ul class="sub-menu wpr-sub-menu">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1562"><a href="/about-dr-sameera-v-v/" class="wpr-sub-menu-item">About Dr. Sameera V V</a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-698"><a href="/why-sampada-vr/" class="wpr-menu-item wpr-pointer-item">Why Sampada VR</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1080"><a href="/treatments/" class="wpr-menu-item wpr-pointer-item">Treatments</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-699"><a href="/blog/" class="wpr-menu-item wpr-pointer-item">Blog</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-697"><a href="/contact-us/" class="wpr-menu-item wpr-pointer-item">Contact Us</a></li>
								</ul>
							</nav>
							<nav class="wpr-mobile-nav-menu-container">
								<div class="wpr-mobile-toggle-wrap">
									<div class="wpr-mobile-toggle">
										<span class="wpr-mobile-toggle-line"></span>
										<span class="wpr-mobile-toggle-line"></span>
										<span class="wpr-mobile-toggle-line"></span>
									</div>
								</div>
								<ul id="mobile-menu-2-077a1f7" class="wpr-mobile-nav-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-695"><a href="/" class="wpr-mobile-menu-item">Home</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-696"><a href="/about/" class="wpr-mobile-menu-item">About</a>
										<ul class="sub-menu wpr-sub-menu">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1562"><a href="/about-dr-sameera-v-v/" class="wpr-mobile-sub-menu-item">About Dr. Sameera V V</a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-698"><a href="/why-sampada-vr/" class="wpr-mobile-menu-item">Why Sampada VR</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1080"><a href="/treatments/" class="wpr-mobile-menu-item">Treatments</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-699"><a href="/blog/" class="wpr-mobile-menu-item">Blog</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-697"><a href="/contact-us/" class="wpr-mobile-menu-item">Contact Us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-66fd7f1d" data-id="66fd7f1d" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-29d551cd elementor-hidden-mobile wpr-button-icon-style-inline wpr-button-icon-position-right elementor-widget elementor-widget-wpr-button" data-id="29d551cd" data-element_type="widget" data-widget_type="wpr-button.default">
						<div class="elementor-widget-container">
							<div class="wpr-button-wrap elementor-clearfix">
								<a class="wpr-button wpr-button-effect wpr-button-none" data-text="Go" href="/contact-us/">
									<span class="wpr-button-content">
										<span class="wpr-button-text">Get Started</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
